html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family:'Noto Sans KR', sans-serif;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
.Wrap{
    width:100%;
    height: 100vh;
    background: #FCFF53;
    position: relative;
}
.numberGames--Wrap{
    width:80vw;
    max-width: 500px;
    min-width: 320px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
}
.title{
    flex: 0 0 70px;
    width:80%;
    margin:0 auto;
    border-bottom:1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title img{
    width:10rem;
    max-width: 264px;
}

.numberContent--Wrap{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numberContent{
    width:80%;
    flex: 1 1 auto;
    margin: 0 auto;
}
.numberGame--Wrap{
    width:100%;
    height:100%;
    border-radius: 30px;
    padding:5%;
    text-align:center;
}
#result-area{
    font-size:2rem;  
    padding-bottom:5%; 
}
#chance-area{
    font-size:1rem;
    font-weight: 100;
    padding-bottom:5%;
}
.input--Wrap{
    width:100%;
    display: flex;
    gap:10px;
    padding-bottom:5%;
}
#input-hint{
    font-size:10px;
    color:#ff1717;
    line-height: 1;
    padding-bottom:5%;
}
#user-input{
    flex: 1 1 auto;
    width:100%;
    height: 50px;
    border-radius: 10px;
    border:0;
    background:#f7f7f7;
}

#play-button{
    flex: 0 0 54px;
    width:54px;
    height:54px;
    background-color: #ff1717;
    border:1px solid #ff1717;
    color:#fff;
    border-radius: 100%;
}
#play-button:disabled{
    background-color: #888;
    border:1px solid #888;
}
#reset-button{
    width:36px;
    height:36px;
    background:none;
    border:none;
    padding:0;
}

.bg--Wrap{
    width:100%;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
}
.numberImg{
    width:8%;
    max-width: 60px;
    position: absolute;
    transition: all .3s cubic-bezier(0,.21,.03,1.01);
}
.number1{
    left:3%;
    top:30%;
}
.number2{
    right:20%;
    top:14%;
    animation: move2 2s infinite;
    animation-delay: 1s;
}
.number3{
    left:20%;
    top:42%;
}
.number4{
    right:10%;
    top:35%;
}
.number5{
    left:15%;
    bottom:28%;
    animation: move1 2s infinite;
}
.number6{
    left:25%;
    top:5%;
    animation: move1 2s infinite;
}
.number7{
    transform: translateX(-80%);
    right: calc(50% - 340px);
    top: 50%;
    z-index: 2;
    animation: move1 2s infinite;
    animation-delay: 1s;
}
.number8{
    transform: translateX(-80%);
    left: calc(50% - 100px);
    bottom:10%;
    z-index: 2;
    animation: move2 2s infinite;
}
.number9{
    right:30%;
    bottom:5%;
}
.number0{
    right:5%;
    bottom:20%;
}

@keyframes move1{
    0%{
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50%{
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100%{
        -webkit-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}
@keyframes move2{
    0%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    10%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    15%{
        -webkit-transform: translateY(-5%);
        -o-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    20%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    40%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    50%{
        -webkit-transform: translateY(-5%);
        -o-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    60%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    80%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    90%{
        -webkit-transform: translateY(-5%);
        -o-transform: translateY(-5%);
        transform: translateY(-5%);
    }
    100%{
        -webkit-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@media (max-width: 620px)  {
    .number1{
        left:1%;
    }
    .number2{
        right:10%;
    }
    .number3{
        left:3%;
    }
    .number4{
        right:1%;
    }
    .number5{
        left:1%;
    }
    .number6{
        left:15%;
    }
    .number7{
        transform: translateX(0%);
        right: 5%;
        top: 50%;
    }
    
}
@media (min-width:621px) and (max-width: 940px)  {
    .number1{
        left:2%;
    }
    .number2{
        right:10%;
    }
    .number3{
        left:15%;
    }
    .number4{
        right:4%;
    }
    .number5{
        left:10%;
    }
    .number6{
        left:15%;
    }
}